@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
    /* margin: 0 40px; */
  }

  .bio {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bio__info {
    margin: 0;
  }
  .bio__pic-container {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .section {
    grid-template-columns: 1fr;
  }

  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .img2 {
    grid-row: 3;
  }

  .clients__opinions {
    font-size: var(--font-size-24);
  }

  .contact-us {
    grid-template-columns: 1fr;
  }

  .contact-us__info {
    margin-top: 20px;
  }
  .contact-us__form-container {
    order: -1;
    margin-top: 15rem;
  }
}

@media (max-width: 500px) {
  .bio__pic {
    width: 100%;
  }
  .header {
    padding: 0;
  }
  .header::before {
    z-index: 0;
    background-color: var(--color-background);
  }
  .burger__menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
    cursor: pointer;
  }
  .burger__menu-bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .burger__menu-checkbox:checked + .navigation {
    top: 100%;
  }
  .header:has(.burger__menu-checkbox:checked) .burger__menu-bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger__menu-checkbox:checked) .burger__menu-bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger__menu-checkbox:checked) .burger__menu-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .navigation {
    position: absolute;
    padding: 3rem 0;
    width: 100%;
    top: 0;
    border-bottom: 0.1rem solid var(--color-text);
    z-index: -1;
    width: 100vw;
    background-color: var(--color-background);
    transition: var(--transition-timing);
  }
  .navigation__list {
    justify-content: center;
  }
  .toggle {
    padding: 3rem 0;
    z-index: 1;
  }
}
